DATABASE_URL="mysql://user:password@localhost:3306/browsergame"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET='JWT_SECRET'
JWT_EXPIRES_IN='15m'
JWT_REFRESH_SECRET='JWT_REFRESH_SECRET'
JWT_REFRESH_EXPIRES_IN='1d'